<meta charset="UTF-8">
<title>Simple Recorder.js demo with record, stop and pause</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop and convert</button>
</div>
<h3>Recordings</h3>
<ol id="recordingsList"></ol>
<br>
<h3 style="display: none;" id = "procesing">Processing ...</h3>
<h3 style="display: none;" id = "player_text">Converted File</h3>
<audio id="player" controls style="display: none;"></audio>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
<script type="module" src="../static/script.js"></script>
