<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Recorder.js Demo - Multilingual Translation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <div class="card">
    <h1>Multilingual Translation</h1>

    <!-- Language selection dropdowns -->
    <div id="language-selection">
        <label class = "lable" for="fromLanguage">From: </label>
        <select id="fromLanguage">
            <option value="eng" selected>English</option>
            <option value="hin">Hindi</option>
            <option value="ben">Bengali</option>
            <option value="mar">Marathi</option>
            <option value="urd">Urdu</option>
            <option value="tel">Telugu</option>
            <option value="deu">German</option>
            <option value="fra">French</option>
        </select>

        <label class = "lable" for="toLanguage">To: </label>
        <select id="toLanguage">
            <option value="hin" selected>Hindi</option>
            <option value="eng">English</option>
            <option value="urd">Urdu</option>
            <option value="tel">Telugu</option>
            <option value="ben">Bengali</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <!-- Add more language options as needed -->
        </select>
    </div>

    <!-- Recorder Controls -->
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop and Convert</button>
    </div>

    <h3>Recordings</h3>
    <audio id="player1" style="display: none;" controls></audio>

    <h3 id="procesing" style="display: none;">Processing...</h3>
    <h3 id="player_text" style="display: none;">Converted File</h3>
    <audio id="player" style="display: none;" controls></audio>
    </div>
    <!-- Inserting these scripts at the end to use all DOM elements -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
    <script type="module" src="../static/script1.js"></script>
</body>
</html>
